body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right:7px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color:  #983c14;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup{
  width: 300px;
  background: #fff;
  border-radius:6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
text-align:center;
padding: 0 30px 30px ;
color: #333;
visibility: hidden;
 transition: transform 0.5s, top 0.5s;


}
.open-popup
{
   top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);

}
.popup img {
width: 100px;
margin-top: -50px;
border-radius: 50%;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;

}
.popup button {
width: 300px;
margin-top:50px;
padding: 10px 0;
background:#983c14;
color: #fff;
border: 0;
outline:none;
font-size: 18px;
border-radius: 4px;
cursor: pointer;
box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.returnCart a {
  color: white;
  font-size: 15px;
  background-color: #983c14;
  padding: 15px;
  border-radius: 15px;
  text-decoration:none;

}
.returnCart 
{
  padding-top:20px;
}